svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}

.app-background{
    position: absolute;
    background-color: #828A8D;
    z-index: -9;
}