.text-shadow{
    text-shadow: 2px 2px 4px #000000;
}

.discount-percentage{
    color:red; 
    font-weight: bold; 
    text-shadow: 1px #ff0000;
}

.regular-price-striked{
    text-decoration: line-through;
}

.discount-price{
    font-weight: bold; 
    color: yellow; 
}

.column-top{
    padding-top:15px;
}