a{
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:hover{
    color: rgb(128,0,0, 0.75);
}



.text-shadow{
    text-shadow: 3px 3px 12px #000000;
}

.discounted-price{
    color: #8b0023; 
    white-space: nowrap;
    font-weight: bold;
}

.regular-price-striked{
    text-decoration: line-through;
}

.discount-percentage{
    color: rgb(5,7,8); 
    font-weight: bold;
}

.column-top{
    padding-top:15px;
}

.carousel-control-right, .carousel-control-left{
    cursor: pointer;
}



