<nav class="grid-x" style="border: 1px solid black; ">
    <div *ngFor="let link of navigationArray; let i = index" class="cell small-12 medium-6 large-4">
        <div class="align-self-center">
            <div class="col-sm-10 col-sm-offset-1 column-top">
                <a href="{{link.links.www}}">
                    <carousel class="text-center">
                        <slide *ngIf="link.hero">
                            <img src="{{link.hero.href}}" height="{{link.hero.height}}" width="{{link.hero.width}}">
                        </slide>
                        <slide *ngFor="let altHero of link.images">
                            <img src="{{altHero.href}}" height="{{altHero.height}}" width="{{altHero.width}}">
                        </slide>
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-shadow" style="font-weight: 500;">{{link.name}}</h5>
                            <p *ngIf="link.priceRange.type === 'special'">
                                <span class="text-shadow" style="font-weight: bold;">Limited Time Offer:</span>
                                <span
                                    class="text-shadow discount-percentage">&nbsp;{{100 - ((link.priceRange.selling.high/link.priceRange.regular.high)*100)}}%
                                    OFF</span>
                                <br>
                                <span class="text-shadow regular-price-striked">${{link.priceRange.regular.high}}</span>
                                <span class="text-shadow discount-price">&nbsp;${{link.priceRange.selling.high}}</span>
                            </p>
                            <p class="text-shadow" *ngIf="!link.priceRange.type">
                                ${{link.priceRange.selling.low}} - ${{link.priceRange.selling.high}}
                            </p>
                        </div>
                    </carousel>
                </a>
            </div>
        </div>

    </div>

</nav>